Repository mfem/web, pull requests merged in 2020-07, with the labels that each got.

#72 Updating ex24.
  src/examples.md
Labels: ready-for-review

#71 [squash] Added Remhos.
  src/examples.md
  src/img/examples/remhos.png
Labels: examples, ready-for-review

#70 Mention for SLEPc support and examples
  src/examples.md
  src/features.md
Labels: examples, features, ready-for-review

#73 CurlCurlIntegrator minor fix in description
  src/bilininteg.md
Labels: ready-for-review
