Repository mfem/web, pull requests merged in 2022-11, with the labels that each got.

#193 Update "Mixed elements support".
  src/howto/assembly_levels.md
Labels: ready-for-review

#196 Add Aaron's slide deck to workshop page
  src/pdf/workshop22/01_Fisher_MFEM_Workshop_Intro.pdf
  src/pdf/workshop22/16_Fisher_MFEM_Workshop_Wrap.pdf
  src/workshop.md
Labels: bug, workshop

#194 Highlight the GPU support table
  src/bilininteg.md
  src/gpu-support.md
  src/howto/assembly_levels.md
Labels: ready-for-review, GPU
